{% block element_blog %}
    <div class="sas-cms-element-blog">
       <div class="row">
           {% if element.data.blog|length %}
               {% for entry in element.data.blog %}
                   <div class="col-{{ element.config.columns.value }}">
                       <article class="card mb-5">
                               <div class="card-body">
                                   <h2 class="card-title">
                                       <a href="{{ path('sas.frontend.blog.detail', { slug: entry.slug }) }}">
                                           {{ entry.title }}
                                       </a>
                                   </h2>
                                   <div class="card-text">
                                       {% for block in entry.content.blocks %}
                                           {% sw_include('@Storefront/storefront/page/blog/_partials/_block_' ~ block.type) ~ '.html.twig' %}
                                       {% endfor %}
                                   </div>
                               </div>
                       </article>
                   </div>
               {% endfor %}
           {% else %}
               <div class="col-12">
                   <div class="alert alert-primary" role="alert">
                       {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                           type:"info",
                           content:"Currently there're no blog entries available."
                       } %}
                   </div>
               </div>
           {% endif %}
       </div>
    </div>
{% endblock %}
